.rectangle{
    width: 50px;
    height: 20px;
}
.rectangle1{
    background-color:$c-color1;
}
.rectangle2{
    background-color:$c-color2;
}
.rectangle3{
    background-color:$c-color3;
}
.rectangle4{
    background-color:$c-color4;
}
.rectangle5{
    background-color:$c-color5;
}
.rectangle6{
    background-color:$c-color6;
}
.rectangle7{
    background-color:$c-color7;
}
.rectangle8{
    background-color:$c-color8;
}
.rectangle9{
    background-color:$c-color9;
}
.rectangle10{
    background-color:$c-color10;
}
.rectangle11{
    background-color:$c-color11;
}
.rectangle12{
    background-color:$c-color12;
}
.rectangle13{
    background-color:$c-color13;
}
.rectangle14{
    background-color:$c-color14;
}
.rectangle15{
    background-color:$c-color15;
}
.rectangle16{
    background-color:$c-color16;
}
