.rectangel{
    width: 50px;
    height: 20px;
}
.rectangel1{
    background-color:$c-color1;
}
.rectangel2{
    background-color:$c-color2;
}
.rectangel3{
    background-color:$c-color3;
}
.rectangel4{
    background-color:$c-color4;
}
.rectangel5{
    background-color:$c-color5;
}
.rectangel6{
    background-color:$c-color6;
}
.rectangel7{
    background-color:$c-color7;
}
.rectangel8{
    background-color:$c-color8;
}
.rectangel9{
    background-color:$c-color9;
}
.rectangel10{
    background-color:$c-color10;
}
.rectangel11{
    background-color:$c-color11;
}
.rectangel12{
    background-color:$c-color12;
}
.rectangel13{
    background-color:$c-color13;
}
.rectangel14{
    background-color:$c-color14;
}
.rectangel15{
    background-color:$c-color15;
}
.rectangel16{
    background-color:$c-color15;
}
.rectangel17{
    background-color: var(--accent-color);
}