$c-blueBell: #f80a0a;
$c-color1: #000000;
$c-color2: #FFFFFF;
$c-color3: #FF0000;
$c-color4: #00FF00;
$c-color5: #0000FF;
$c-color6: #FFFF00;
$c-color7: #00FFFF;
$c-color8: #FF00FF;
$c-color9: #C0C0C0;
$c-color10:#808080;
$c-color11: #800000;
$c-color12: #808000;
$c-color13: #008000;
$c-color14: #800080;
$c-color15: #008080;
$c-color16: #000080;
